<!-- start tag widget -->
<div class="widget">
	<h4 class="widget-title h6">Text Widget</h4>
	<div class="content about">
		<p>
			We hope you are enjoying LIFE.CEO.  Please let us know how we can serve you.
		</p>
		<p>
			
		</p>
	</div>
</div>
<!-- end tag widget -->